@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #e8e8e8;
}

p {
  margin-bottom: 0px;
}

.wrapper .top-navbar {
  width: 100%;
  height: 50px;
  display: flex;
  position: fixed;
}

.wrapper .top-navbar .hamburger {
  width: 50px;
  height: 100%;
  background: #202340;
  padding: 12px 10px;
  cursor: pointer;
  text-align: center;
}
.wrapper .top-navbar .hamburger i {
  color: #ffffff;
  font-size: 20px;
}

.hamburger-close::before {
  content: "\f00d";
}

.wrapper .top-navbar .top-menu {
  display: flex;
  width: calc(100% - 60px);
  height: 100%;
  background: #ffff;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  z-index: -9;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.wrapper .top-navbar .top-menu .nav-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.wrapper .top-navbar .top-menu .nav-icons ul {
  display: flex;
  margin: auto;
}

.wrapper .top-navbar .top-menu .nav-icons ul li a {
  display: block;
  margin: 0 10px;
  width: 35px;
  line-height: 35px;
  height: 35px;
  text-align: center;
}
.wrapper .top-navbar .top-menu .nav-icons ul li a i {
  font-size: 1.4rem;
  color: #333333;
}

.wrapper .top-navbar .top-menu .nav-icons .user-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-left: 1px solid #e1dada;
  padding-left: 3rem;
}

.wrapper .top-navbar .top-menu .nav-icons .user-info .user-name small {
  float: right;
}

.wrapper .top-navbar .top-menu .nav-icons .user-info .user-img {
  display: block;

  font-size: 1.4rem;
  margin-left: 1rem;
  padding: 0.8rem;
}

.wrapper .top-navbar .top-menu .nav-icons .user-info .user-img a {
  background: #4ad295;
  padding: 0.7rem;
  border-radius: 50%;
}

.wrapper .side-navbar .sidebar-list-1 {
  position: fixed;
  top: 50px;
  left: 0;
  background: #202340;
  width: 50px;
  height: 100%;
  transition: all 0.3s all;
}

.wrapper .side-navbar .sidebar-list-1 li a {
  display: block;
  padding: 12px 10px;
  color: #ffffff;
  margin-bottom: 1px;
  text-align: center;
}

.wrapper .side-navbar .sidebar-list-1 ul li a span.icon {
  font-size: 20px;
  display: inline-block;
  width: 60px;
}

.wrapper .side-navbar #list-2 {
  position: relative;

  top: 0px;
  left: -189px;
  background: #282c54;
  width: 189px;
  height: 100%;
  z-index: -1;
  transition: all 0.3s ease;
}

.wrapper .side-navbar #list-2.show {
  left: 50px;
}
.wrapper .side-navbar #list-2 ul {
  position: relative;
  top: 50px;
  left: 0;
}

.wrapper .side-navbar #list-2 ul li a {
  display: block;
  padding: 12px 15px;
  color: #ffffff;
  margin-bottom: 1px;
  text-align: left;
}

.wrapper .side-navbar #list-2 ul li a span.title {
  font-size: 16px;
  display: inline-block;
}

.changeColor {
  background: #e83838;
}

/***Refund-modal**/
.refund-acc {
  position: absolute;
  top: 70px;
  right: 11px;
  width: 366px;
  height: 70px;
  background: #ffffff;
  border: 1px solid #dfdbdb;
  box-shadow: 0px 3px 6px #00000029;
  text-align: center;
  border-left: 6px solid #4ad295;
  z-index: 1;
  animation-name: animatetop;
  animation-duration: 0.4s;
  transition: all 0.3s ease;
  display: none;
}

@keyframes animatetop {
  from {
    right: -300px;
    opacity: 0;
  }
  to {
    right: 0;
    opacity: 1;
  }
}
.close-refund-acc {
  display: none;
}

.fa-times-thin:before {
  content: "\00d7";
}
.refund-acc i {
  font-size: 22px;
  font-weight: 400;
  color: #707070;
  position: relative;
  top: 4px;
  right: 6px;
  float: right;
  cursor: pointer;
}

.refund-acc p {
  position: relative;
  text-align: center;
  top: 26px;
  font: normal normal medium 16px/26px Roboto;
  letter-spacing: 0px;
  color: #202340;
}

/***Main-container ***/

.account-container {
  position: absolute;
  top: 70px;
  left: 70px;
  width: 1340px;
  height: 721px;
  background: #ffffff;
  z-index: 0;
}
.index-toggle {
  z-index: -2;
}
.account-container h5 {
  font-size: 22px;
  text-align: left;
  color: #202340;
  font-weight: 500;
  margin: 15px 25px;
}

.account-container .top-header {
  padding: 15px 25px;
}

.account-container .top-header a {
  color: #0456a8;
  margin: 2px;
}

.account-container .top-header a span {
  margin-left: 4px;
}

.search-bar {
  position: relative;
  width: 1300px;
  height: 53px;
  margin: auto;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border: 1px solid #dfdbdb;
  opacity: 1;
}

.search-bar .search-icon {
  position: relative;
  top: 17px;
  left: 19px;
  color: #c9c5c5;
  font-size: 14px;
}

.search-bar .search-icon i {
  width: 18px;
  height: 16px;
  color: #333333;
  font-size: 20px;
  font-weight: lighter;
}

.search-bar .search-icon .search {
  border: none;
}

.search-bar .search-icon .search:focus {
  border-bottom: 1px solid #0456a8;
  outline: none;
}

.dd-container {
  position: absolute;
  top: 7px;
  right: 10px;
}

.dd-container ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.dd-container ul li {
  margin: 0px 5px;
}

.btn {
  background-color: #ffffff;
  font-size: 14px;
  color: #333333;
}

.btn:focus {
  box-shadow: none;
}

/**TABLE**/
.table-con {
  position: relative;
  top: 50px;
}

.table-con .header h5 {
  float: left;
  margin: 5px;
}

.table-con .header div {
  float: right;
}

.table-con .header div span {
  font-size: 14px;
  color: #333333;
  font-weight: 400;
  margin: 0px 10px;
}

.add-btn {
  background-color: #202340;
  color: #ffffff;
  border-radius: 0px;
  font-size: 14px;
  font-weight: 500;
}

.table {
  position: absolute;
  top: 60px;
  width: 1233px;
  text-align: left;
}

.table table {
  width: 106%;
  z-index: -2;
}

thead {
  background-color: #e8e8e8;
  height: 45px;
}
.checkbox {
  position: relative;
  top: 7px;
  font-size: 12px;
  text-align: center;
}

thead th {
  font-size: 14px;
  color: #333333;
  font-weight: 500;
}

td a {
  text-decoration: underline;
}

tr td {
  font-size: 14px;
}
td span {
  padding: 3px 8px;
  background-color: rgba(121, 172, 223, 0.5);
}

td div {
  display: flex;
  justify-content: space-evenly;
}

td div .fa {
  font-size: 16px;
  color: #0456a8;
  cursor: pointer;
}

td div i.fa-ellipsis-v {
  color: #707070;
  font-weight: lighter;
}

td div a {
  position: relative;
}

a #list-content {
  position: absolute;
  right: 0px;
  background-color: #ffffff;
  box-shadow: 0px 3px 6px #00000029;
  border: 1px solid #c4bebe;
  z-index: 1;
  width: 194px;
  display: none;
}

a ul li {
  font-size: 14px;
  color: #333333;
  padding: 10px;
  background-color: #ffffff;
  transition: all 0.3s ease;
}

a ul li:hover {
  background-color: #e8e8e8;
}
